@charset "UTF-8";
/**
 * 1.0 - Reset
 */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,
s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,
mark,menu,meter,nav,output,progress,section,summary,time,video{ border:0; outline:0;
  vertical-align:baseline; background:transparent; margin:0;padding:0; }
article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{ display:block; }
nav ul{ list-style:none; }
ol{ list-style:decimal; }
ul{ list-style:disc; }
ul ul{ list-style:circle; }
blockquote,q{ quotes:none; }
blockquote:before,blockquote:after,q:before,q:after{ content:none; }
ins{ text-decoration:underline; }
del{ text-decoration:line-through; }
mark{ background:none; }
abbr[title],dfn[title], acronym[title]{ border-bottom:1px dotted; cursor:help; }
table{ border-collapse:collapse;border-spacing:0; }
hr{ display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0;}
input[type=submit],input[type=button],button{ margin:0; padding:0;}
input,select,a img{ vertical-align:middle; }
b, strong{ font-weight: bold; }
i, em{ font-style: italic; }

html{ box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; -moz-box-sizing: inherit; -webkit-box-sizing: inherit; }

/* generic class */
body{ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word; }
p{ margin-bottom: 20px;  }
ul, ol{ margin-left: 35px; margin-bottom: 20px; }
dl{ margin-bottom: 20px; }
dl dt{ font-weight: 700; margin-top: 10px; }
dl dt:first-child{ margin-top: 0px; }
dl dd{ margin-left: 20px; }
h1, h2, h3, h4, h5, h6{ line-height: 1.2; margin-bottom: 20px; }
figure{ max-width: 100%; }

.clear{ display: block; clear: both; visibility: hidden; line-height: 0; height: 0; zoom: 1; }
.clearfix{ zoom: 1; }
.clearfix:after{ content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

/* wordpress core */
.alignnone{ margin: 5px 20px 20px 0; }
.aligncenter, div.aligncenter{ display: block; margin: 5px auto 5px auto; }
.alignright{ float:right; margin: 5px 0 20px 20px; }
.alignleft{ float: left; margin: 8px 32px 20px 0; }
a img.alignright{ float: right; margin: 5px 0 20px 20px; }
a img.alignnone{ margin: 5px 20px 20px 0; }
a img.alignleft{ float: left; margin: 5px 20px 20px 0; }
a img.aligncenter{ display: block; margin-left: auto; margin-right: auto }
.wp-caption { text-align: center; max-width: 100%; }
.wp-caption.alignnone{ margin: 5px 20px 20px 0; }
.wp-caption.alignleft{ margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; }
figcaption.wp-caption-text {  margin-top: 20px; }
.bypostauthor{ max-width: 100%;  }
.gallery-caption{ max-width: 100%; }
.sticky{ max-width: 100%;  }

.single-format-gallery figcaption.wp-caption-text{ margin-bottom: 20px; }
.single-format-gallery figure.gallery-item{ margin-bottom: 20px; }

.navigation{ text-align: right; margin-bottom: 30px; }
.navigation .screen-reader-text{ display: none; }
.navigation a, .navigation span{ margin: 0px 5px;}

.post-password-form input[type="password"]{ padding: 14px 20px; margin-left: 5px; margin-right: 6px; }

.page-links{ clear: left; }
.page-links span{ margin-right: 7px; }
.page-links span.screen-reader-text{ margin-right: 0px; }
.page-links a{ text-decoration: underline; }

/* layout */
.cryptro-body-outer-wrapper{ position: relative; overflow: hidden; }
.cryptro-body-wrapper.cryptro-with-frame{ position: relative; }
.cryptro-page-wrapper{ clear: both; }

body.cryptro-boxed .cryptro-body-wrapper{ margin-left: auto; margin-right: auto; position: relative; }
body.cryptro-boxed .cryptro-body-wrapper.cryptro-left{ margin-left: 0px; }
body.cryptro-boxed .cryptro-body-wrapper.cryptro-right{ margin-right: 0px; }
body.cryptro-boxed.cryptro-boxed-border .cryptro-body-wrapper{
  box-shadow: 0px -5px 9px rgba(0,0,0,0.25); -webkit-box-shadow: 0px -5px 9px rgba(0,0,0,0.25); }

body.cryptro-boxed.cryptro-background-pattern{ background-position: center; background-repeat: repeat; }
.cryptro-body-background{ position: fixed; top: 0px; right: 0px;
  bottom: 0px; left: 0px; background-position: center; background-size: cover; }

.cryptro-container{ margin-left: auto; margin-right: auto; }

.cryptro-column-10{ float: left; width: 16.6666%; }
.cryptro-column-12{ float: left; width: 20%; }
.cryptro-column-15{ float: left; width: 25%; }
.cryptro-column-20{ float: left; width: 33.3333%; }
.cryptro-column-24{ float: left; width: 40%; }
.cryptro-column-30{ float: left; width: 50%; }
.cryptro-column-36{ float: left; width: 60%; }
.cryptro-column-40{ float: left; width: 66.6666%; }
.cryptro-column-45{ float: left; width: 75%; }
.cryptro-column-48{ float: left; width: 80%; }
.cryptro-column-50{ float: left; width: 83.3333%; }
.cryptro-column-60{ float: left; width: 100%; }

.cryptro-sidebar-right{ float: right; }
.cryptro-sidebar-center{ float: none; display: inline-block; }

.cryptro-content-area{ padding-top: 60px; padding-bottom: 40px; }
.cryptro-sidebar-area{ padding-top: 60px; }

.cryptro-line-height-0{ line-height: 0; }

a, button{ 	text-decoration: none;
  transition: background 300ms, color 300ms, border-color 300ms; -moz-transition: background 300ms, color 300ms, border-color 300ms;
  -o-transition: background 300ms, color 300ms, border-color 300ms; -webkit-transition: background 300ms, color 300ms, border-color 300ms; }
img{ max-width: 100%; height: auto; }
blockquote{ quotes: none; padding: 30px 30px 15px; font-size: 17px; margin-bottom: 35px;
  font-style: italic; margin-top: 35px; border-left-width: 2px; border-left-style: solid; }
.cryptro-blockquote-style-2 blockquote{ font-size: 20px; font-weight: 800; padding-top: 10px; padding-left: 35px; padding-right: 0px;
  font-style: normal; padding-bottom: 10px; border-left-width: 4px; }
.cryptro-blockquote-style-2 blockquote p{ margin-bottom: 0px; }
q{ margin-right: 15px; display: inline-block; padding: 10px 20px; vertical-align: middle; border-left-width: 2px; border-left-style: solid; }

.cryptro-media-image{ line-height: 0; position: relative; }
.cryptro-left-align{ text-align: left; }
.cryptro-center-align{ text-align: center; }
.cryptro-right-align{ text-align: right; }

.cryptro-body-wrapper{ /* overflow: hidden; */ z-index: 1; position: relative; }

/* input */
input, textarea{ border-width: 1px 1px 2px 1px; border-style: solid; }
input:focus, textarea:focus{ outline: none; }

/* button */
.cryptro-button, input[type="button"], input[type="submit"], input[type="reset"]{ font-size: 13px; font-weight: bold;
  text-transform: uppercase; letter-spacing: 0.8px; padding: 15px 33px; display: inline-block; -webkit-appearance: none; }
input[type="button"], input[type="submit"], input[type="reset"]{ border-width: 0px; border-style: solid; cursor: pointer;
  transition: background 300ms, color 300ms, border-color 300ms; -moz-transition: background 300ms, color 300ms, border-color 300ms;
  -o-transition: background 300ms, color 300ms, border-color 300ms; -webkit-transition: background 300ms, color 300ms, border-color 300ms; }
input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus{ outline: none;

.cryptro-page-title-wrap,
.cryptro-blog-title-wrap {
  background-position: top center;
  background-size: cover;
  position: relative;
}
.cryptro-page-wrapper a {
  color: #ff886e;
}
.cryptro-page-wrapper a:hover {
  color: #1d232e;
}
.top-announcement {
  background: #1D232E;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
}
.top-announcement-text {
  color: #ff886e;
  font-size: 18px;
  font-weight: 500;
}
.top-announcement-bp-id {
  color: #77cbf2;
  font-weight: 600;
}
.top-announcement a {
  color: #e8e8e8;
}